/*  bootstap reset css start */
:root{
    --primary-font: "Josefin Sans", sans-serif;
    --secondary-font: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
}
ul,
ol {
    list-style-type: none;
}
a,
a:hover {
    text-decoration: none;
}
input,
.form-control {
    outline: 0;
    box-shadow: none;
}
body{
    font-family: var(--primary-font);
}
p{
    font-family: var(--secondary-font);
}
footer{
    background-color: var(--text-color);
    color: var(--white);
}
/*  bootstrap reset css end */
