/*  bootstap reset css start */
:root{
    --primary-font: "Josefin Sans", sans-serif;
    --secondary-font: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
}
ul,
ol {
    list-style-type: none;
}
a,
a:hover {
    text-decoration: none;
}
input,
.form-control {
    outline: 0;
    box-shadow: none;
}
body{
    font-family: var(--primary-font);
}
p{
    font-family: var(--secondary-font);
}

#nav_bar #menu ul li  .active{
    color: var(--first_primary_color);
    
}

.btn{
    padding: 13px 37px;
    line-height: 30px;
    border: none;
    background-color: var(--first_primary_color);
    color: var(--white);
    transition: 0.4s;
}
.btn:hover, .btn-round:hover{
    background-color: var(--white);
    color: var(--first_primary_color);
}
.mega-hover{
    position: relative;
    overflow: hidden;
}
.mega-hover:after,.mega-hover:before {
    content: '';
    position: absolute;
    pointer-events: none;
    opacity: 1;
    z-index: 3
}
.mega-hover:before {
    top: 0;
    right: 51%;
    bottom: 0;
    left: 50%;
    background: rgba(255,255,255,0.2)
}
.mega-hover:after {
    top: 50%;
    right: 0;
    bottom: 50%;
    left: 0;
    background: rgba(255,255,255,0.3)
}
.mega-hover:hover:before {
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 900ms linear;
    transition: all 900ms linear
}
.mega-hover:hover:after {
    top: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all 900ms linear;
    transition: all 900ms linear
}
.btn-round{
    height: 80px;
    width: 80px;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    background-color: var(--first_primary_color)

}
.content p{
    padding-top: 25px;
    padding-bottom: 10px;
    line-height: 28px;
}
.content h5{
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 15px;

}
footer{
    background-color: var(--text-color);
    color: var(--white);
}
/*  bootstrap reset css end */

.bg_white{
    background-color: var(--white);
}
.card_img img{
    width: 100%;
}
.slide_1 .card{
    border: 1px solid var(--bg);
    margin:12px;
    padding-bottom: 27px;
}

.banner_title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 1.2;
    color: var(--white);
}
.banner_menu li,.banner_menu a{
    color: var(--white);
}

.banner_menu li{
    display: inline-block;
    margin-right: 3px;
    padding-right: 3px;
    color: var(--white);
}
.banner_menu li:first-child::after{
    content: '/';
    margin-left: 5px;
    
}
.cards .cards-img img{
    position: relative;
}
.cards .cards_img .action{
    position:absolute;
    top: 50%;
    left: 50%;
}
    
