/*  bootstap reset css start */
:root{
    --primary-font: "Josefin Sans", sans-serif;
    --secondary-font: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
}
ul,
ol {
    list-style-type: none;
}
a,
a:hover {
    text-decoration: none;
}
input,
.form-control {
    outline: 0;
    box-shadow: none;
}
body{
    font-family: var(--primary-font);
}
p{
    font-family: var(--secondary-font);
}

#nav_bar #menu ul li  .active{
    color: var(--first_primary_color);
    
}

.btn{
    padding: 13px 37px;
    line-height: 30px;
    border: none;
    background-color: var(--first_primary_color);
    color: var(--white);
    transition: 0.4s;
}
.btn:hover, .btn-round:hover{
    background-color: var(--white);
    color: var(--first_primary_color);
    border: 1px solid var(--text-color);
}

.btn-round{
    height: 80px;
    width: 80px;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    background-color: var(--first_primary_color)

}
.content p{
    padding-top: 25px;
    padding-bottom: 10px;
    line-height: 28px;
}
.content h5{
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 15px;

}
footer{
    background-color: var(--text-color);
    color: var(--white);
}
/*  bootstrap reset css end */

.bg_white{
    background-color: var(--white);
}
.cards_img img{
    width: 100%;
    overflow: hidden;
}
.slide_1 .cards, 
#best_selling .cards{
    border: 1px solid var(--bg);
    margin:12px;
    padding-bottom: 27px;
    /* overflow: hidden; */
}

.banner_title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 1.2;
    color: var(--white);
}
.banner_menu li,.banner_menu a{
    color: var(--white);
}

.banner_menu li{
    display: inline-block;
    margin-right: 3px;
    padding-right: 3px;
    color: var(--white);
}
.banner_menu li:first-child::after{
    content: '/';
    margin-left: 5px;
    
}
/* .cards .cards-img img{
    position: relative;
}
.cards .cards_img .action{
    position:absolute;
    top: 50%;
    left: 50%;
} */
    
/* product_card css start*/
.product_info p{
    padding-top: 24px;
    line-height: 28px;
}
.product_info h5{
    font-size: 20px;
    line-height: 26px;
    padding: 5px 0 11px 0;

}
.product_info a{
    color: var(--text-color);
}
.product_info a:hover{
    color:var(--first_primary_color)
}
.cards_img{
    position: relative;
    overflow: hidden;
}
.cards_img .hover_img{
    position: absolute;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease-in-out;
}
.cards:hover .hover_img{
    opacity: 1;
    visibility: visible;
    transform: scale(1.1);
}    
/* product_card css end*/